<eds-tabs background="gray" class="eds" role="complementary">
    <ul class="tab-labels style-scope eds-tabs" role="tablist">
        <li role="presentation" class="style-scope eds-tabs">
            <a href="javascript:void(0);" id="tab-activities" aria-selected="true" role="tab" class="style-scope eds-tabs">
                Activities
            </a>
        </li>
    </ul>
    <ul class="style-scope eds-tabs activity-tabs">
        <li role="presentation" class="style-scope eds-tabs promisepay__link">
            <a id="tab-3" onclick="switchParentTab('3')" aria-controls="tab-panel-3" aria-selected="true" href="javascript:void(0);" role="tab" class="style-scope eds-tabs">
                Promise to Pay
            </a>
        </li>
        <li onclick="toggleMemo()" role="presentation" class="style-scope eds-tabs memo-tab bor-top--1 memodetail">
            <a id=" " aria-controls="Memo" aria-selected="false" href="javascript:void(0);" role="tab" class="style-scope eds-tabs">Memo <span class="eds-accordion-caret"></span></a>
            <ul>
                <li>
                    <a id=" " aria-controls="Memo" aria-selected="false" href="javascript:void(0);" role="tab" class="style-scope eds-tabs cur--auto">Standard
                        Memo</a>
                </li>
                <li>
                    <a id=" " aria-controls="Memo" aria-selected="false" href="javascript:void(0);" role="tab" class="style-scope eds-tabs cur--auto">Important
                        Memo</a>
                </li>
            </ul>
        </li>
        <li role="presentation" class="style-scope eds-tabs"><a id=" " aria-controls="Move to Arrangement"
                aria-selected="false" href="javascript:void(0);" role="tab" class="style-scope eds-tabs cur--auto">Move to Arrangement</a></li>
        <li role="presentation" class="style-scope eds-tabs"><a id=" " aria-controls="Referral" aria-selected="false"
                href="javascript:void(0);" role="tab" class="style-scope eds-tabs cur--auto">Referral</a></li>
        <li role="presentation" class="style-scope eds-tabs"><a id=" " aria-controls="Report Account Exceptions"
                aria-selected="false" href="javascript:void(0);" role="tab" class="style-scope eds-tabs cur--auto">Report Account
                Exceptions</a></li>
    </ul>
    <eds-tab label="Alerts" class="eds" aria-hidden="true" id="tab-panel-0" aria-labelledby="tab-0" role="tabpanel">
        <p>
            <eds-alert motif="error" background="white" class="eds">
                <div class="eds-alert-sidebar style-scope eds-alert"></div>
                <div class="eds-alert-close-icon style-scope eds-alert">×</div>
                <div class="eds-alert-content style-scope eds-alert">
                    This is an example of an alert note
                </div>
            </eds-alert>
        </p>
    </eds-tab>
    <eds-tab label="Activities" class="eds" role="tabpanel">
        <p>
            Activities content...
        </p>
    </eds-tab>
</eds-tabs>

<section class="notes-tab" role="contentinfo">
    <eds-accordion class="greyHeading eds marginBtm20 note-container" background="white" role="tablist">
        <eds-accordion-panel label="Notes" aria-expanded="false" expandedlabel="Notes" role="tab">
            <button class="eds-accordion-label">
                <i class="api-icon-element material-icons style-scope eds-icon">speaker_notes</i>
                <span class="eds-accordion-label-text text-Cap"> Notes </span>
                <span class="eds-accordion-label-text text-Cap"> Notes</span>
                <span class="eds-accordion-caret"></span>
            </button>
            <textarea name="" id="" cols="30" rows="19"></textarea>
        </eds-accordion-panel>
        <div class="table">
            <div class="row">
                <div class="cell pad-top--8">
                    Last saved 02:05 pm
                </div>
                <div class="cell">
                    <button class="note-btn">Save Note</button>
                </div>
            </div>
        </div>
    </eds-accordion>
</section>