<eds-accordion class="greyHeading eds marginBtm20 contact-details-card" background="white" role="tablist">
        <eds-accordion-panel label="Contact details" expandedlabel="Contact details" active="" role="tab" tabindex="-1"><button
                class="eds-accordion-label cur--auto"><span class="eds-accordion-label-text">Collection
                    Information</span><span class="eds-accordion-label-text">Contact details <div class="contactdetails__addressheader--displayinline">
                            <eds-tag motif="success" class="eds">Preferred</eds-tag>
                        </div></span><span class="eds-accordion-caret"></span></button>
            <div class="table">
                <div class="row">
                    <div class="cell">
                            Address
                    </div>
                    <div class="cell">
                            17 Jasper Close
                            John Peace Road
                            Nottingham
                            NG5 2DU
                    </div>
                </div>
                <div class="row">
                    <div class="cell">
                            Email Address
                    </div>
                    <div class="cell">
                            james.benson9@gmail.com
                    </div>
                </div>
                <div class="row">
                    <div class="cell">
                            Phone
                    </div>
                    <div class="cell">
                            07954 525878
                    </div>
                </div>
            </div>
        </eds-accordion-panel>
    </eds-accordion>