<eds-accordion class="greyHeading eds marginBtm20" background="white" role="tablist" tabindex="-1" aria-hidden="true">
    <eds-accordion-panel label="Customer Preference" expandedlabel="Customer Preference" active="" role="tab"><button
            class="eds-accordion-label cur--auto"><span class="eds-accordion-label-text">Customer
                Preference</span><span class="eds-accordion-label-text">Customer Preference</span><span class="eds-accordion-caret"></span></button>
        <div class="table">
            <div class="row">
                <div class="cell">
                        Direct Debit
                </div>
                <div class="cell">
                        Y, Fixed
                </div>
            </div>
            <div class="row">
                <div class="cell">
                    eServicing
                </div>
                <div class="cell">
                        Y
                </div>
            </div>
            <div class="row">
                    <div class="cell">
                            eStatements
                    </div>
                    <div class="cell">
                            Y
                    </div>
                </div>
        </div>
    </eds-accordion-panel>
</eds-accordion>