<eds-accordion class="greyHeading eds" background="white" role="tablist" tabindex="-1" aria-hidden="true">
    <eds-accordion-panel label="DCA" expandedlabel="DCA" active="" role="tab"><button class="eds-accordion-label cur--auto"><span
                class="eds-accordion-label-text">DCA</span><span class="eds-accordion-label-text">DCA</span><span class="eds-accordion-caret"></span></button>
        <div class="table">
            <div class="row">
                <div class="cell">
                    Name
                </div>
                <div class="cell">
                    StepChange
                </div>
            </div>
            <div class="row">
                <div class="cell">
                    Date Placed
                </div>
                <div class="cell">
                    03/09/2017
                </div>
            </div>
            <div class="row">
                <div class="cell">
                    Telephone
                </div>
                <div class="cell">
                    0115 667890
                </div>
            </div>
            <div class="row">
                <div class="cell v-align-top">
                        Address
                </div>
                <div class="cell">
                        20 High Street
                        Newtown
                        West Yorkshire
                        LS27 0JG
                </div>
            </div>
        </div>
    </eds-accordion-panel>
</eds-accordion>