<eds-card class="eds eds--promisecont" aria-describedby="promisepay__headingtext">
    <h1 id="promisepay__headingtext" class="promisepay__heading">Promise to Pay (Instalment)</h1>
    <div class="promisepay__list">
        <label class="promisepay__label">Current Balance</label>
        <input class="promisepay__input promisepay--readonly txt-aln--right promisepay--navtablinkfirst" type="text" readonly value="2,485.00" />
        <input class="promisepay__input promisepay--readonly promisepay--navtablinklast bor-left--none" type="text" readonly value="GBP" />
    </div>
    <div class="promisepay__list">
        <label class="promisepay__label">
            Arrangement Amount
            <span class="promisepay__required">*</span>
        </label>
        <input class="promisepay__input txt-aln--right" type="text" value="1,000" />
        <input class="promisepay__input promisepay--readonly promisepay--smlwidth" type="text" readonly value="GBP" />
    </div>
    <div class="promisepay__list">
        <label class="promisepay__label">Payment Type</label>
        <eds-dropdown class="eds mar-top--none">
            <label class="style-scope eds-dropdown"></label>
            <div class="eds-dropdown-trigger style-scope eds-dropdown" tabindex="0">
                <span class="eds-dropdown-value style-scope eds-dropdown">3. Direct Debit</span>
                <span class="eds-dropdown-placeholder style-scope eds-dropdown"></span>
                <span class="eds-dropdown-arrow style-scope eds-dropdown"></span>
            </div>
        </eds-dropdown>
    </div>
    <div class="promisepay__list">
        <label class="promisepay__label">Instalment Date</label>
        <input class="promisepay__input promisepay--datefield" type="text" value="15/01/2018" />
        <span class="promisepay__calendar">
            <img class="promisepay__caldrimg" src="../assets/images/calendar__icon.png" alt="Calendar Image" />
        </span>
    </div>
    <div class="promisepay__list">
        <label class="promisepay__label">Review Date</label>
        <p class="promisepay__output">02/10/2018</p>
    </div>
    <div class="clear"></div>
</eds-card>
<eds-card class="promisepay__btncont">
    <button class="btn btn--ok" onclick="switchParentTab('0')">OK</button>
    <button class="btn btn--cancel" onclick="switchParentTab('0')">Cancel</button>
    <div class="promisepay__help">
        <img class="promisepay__helpimg" src="../assets/images/question__icon.png" alt="Help" />
    </div>
</eds-card>