
@import 'variables.scss';
// Global CSS here
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}                                                                   
body{
    font-family: 'Roboto';
}
.container{
    max-width: 1680px;
    margin: auto;
}
.dis-flex{
    display: flex;
}
.clear{
	clear: both;
	float: none;
}
.btn{
	width: 120px;
	padding: 10px 0;
	border-radius: 4px;
	background-color: $btn-color;
	border: solid 1px $btnBorder;
	@include fontStyling($family: 'Roboto-Medium', $size: 14px, $color: $whiteColor);
  	text-align: center;
	cursor: pointer;
	&--ok{
		width: 45px!important;
		margin-right: 5px;
	}
	&--cancel{
		background: $whiteLightColor;
		border: solid 1px $lightGreyColor;
		color: $font-primary-color;
		width: 80px;
	}
	&--viewall{
		float: right;
	    background: #f6f6f6;
	    color: $blueFontColor;
	    border: solid 1px rgba(0, 69, 144, 0.3);
		cursor: auto;
	}
}
.bor-left--{
	&none{
		border-left: none!important;
	}
}
.mar{
	&-top{
		&--none{
			margin-top: 0!important;
		}
	}
	&-bot{
		&--none{
			margin-bottom: 0!important;
		}
	}
	&-right{
		&--none{
			margin-right: 0!important;
		}
	}
	&-tpbt{
		&--20{
			margin: 20px 0;
		}
	}
}
.txt{
	&-aln{
		&--right{
			text-align: right!important;
		}
	}
}
.pad{
	&-top{
		&--10{
			padding-top: 10px!important;
		}
		&--8{
			padding-top: 8px!important;
		}
	}
}
.cur{
	&--auto{
		cursor: auto!important;
	}
}