@import "../styles/variables.scss";
.caselist{
	&__cont{
		width: 77%;
    	margin: 0 auto;
	}
	&__heading{
		@include fontStyling($family: 'Roboto-Regular', $size: 20px!important, $color: $blackColor!important);
		line-height: 39px!important;
	}
	&__case{
		margin: 25px 36px 25px 0;
		border-radius: 4px;
		border: solid 1px $lightGreyColor;
		float: left;
		width: 18.5em;
		// max-width: 300px;
		position: relative;
	}
	&__case:nth-child(3), &__case:nth-child(4){
		.caselist__infotime{
			margin-left: 24px;
		}
	}
	&__box{
		background-color: $whiteLightColor;
		padding: 15px;
		float: left;
		width: 100%;
		position: relative;
		border-radius: 4px 4px 0 0;
	}
	&__visuallyhidden{
		border: 0;
  		clip: rect(0 0 0 0);
  		height: 1px;
  		margin: -1px;
  		overflow: hidden;
  		padding: 0;
  		position: absolute;
  		width: 1px;	
	}
	&__name{
		@include fontStyling($family: 'Roboto-Medium', $size: 15px, $color: $blackColor);
	}
	&__number{
		@include fontStyling($family: 'Roboto-Regular', $size: 14px, $color: $blackColor);
	}
	&__link{
		@include fontStyling($family: 'Roboto-Medium', $size: 14px, $color: $blueColor !important);
		margin-top: 10px;
		float: left;
		text-decoration: none;
	}
	&__goicon{
		margin-left: 5px;
    	@include headerIcons($width: 9px, $height: 14px);
		@include coverImage($imgurl: '../images/next__icon.png');
	    float: right;
	}
	&__balance{
		padding: 5px 0 0;
	}
	&__label{
		line-height: 1.15;
  		@include fontStyling($family: 'Roboto-Bold', $size: 13px, $color: $font-primary-color);
	}
	&__value{
		@include fontStyling($family: 'Roboto-Regular', $size: 13px, $color: $font-primary-color);
		float: right;
	}
	&__info{
		padding: 10px 0 10px 15px;
		float: left;
	    width: 100%;
		min-height: 120px;
	}
	&__infoname{
		@include fontStyling($family: 'Roboto-Regular', $size: 13px, $color: $barneyColor);
		line-height: 1.15;
		margin-top: 3px;
	}
	&__infotime{
		@include fontStyling($family: 'Roboto-Medium', $size: 12px, $color: $brownGreyColor);
		text-transform: uppercase;
	    margin-top: 5px;
		float: left;
	}
	&__user{
		width: 255px;
		float: right;
	    padding: 7px 0 0;
    	margin-top: 40px;
		border-top: solid 1px $eds-accordian-label-bg;
		@include fontStyling($family: 'Roboto-Regular', $size: 13px, $color: $font-primary-color);
		position: absolute;
	    right: 0;
	    bottom: 10px;
	}
	&__profileicon{
	    opacity: 0.3;
	    position: absolute;
	    right: -15px;
	    top: -13px;
    	@include headerIcons($width: 100px, $height: 100px);
		@include coverImage($imgurl: '../images/profile__icon.png');
	}
	&--nobg{
		border-bottom: solid 1px $eds-accordian-label-bg;
		background: $whiteColor;
	}
	&__usericon{
  		margin-right: 5px;
  		margin-top: 3px;
    	@include headerIcons($width: 14px, $height: 14px);
		@include coverImage($imgurl: '../images/user__icon.png');
	}
	&__fileicon{
  		margin-right: 5px;
    	@include headerIcons($width: 15px, $height: 30px);
		@include coverImage($imgurl: '../images/file__icon.png');
	}
	&__diverticon{
  		margin-right: 5px;
    	@include headerIcons($width: 18px, $height: 30px);
		@include coverImage($imgurl: '../images/divert__icon.png');
	}
	&__foldericon{
  		margin-right: 5px;
    	@include headerIcons($width: 18px, $height: 30px);
		@include coverImage($imgurl: '../images/userfolder_icon.png');
	}
	&__boldtext{
		@include fontStyling($family: 'Roboto-Bold', $size: 13px, $color: $barneyColor);
	}
	&__secondline{
		@include fontStyling($family: 'Roboto-Regular', $size: 13px, $color: $barneyColor);
		text-overflow: ellipsis;
	    overflow: hidden;
	    white-space: nowrap;
	    width: 88%;
	    float: left;
	}
}